# ==========================================
# Razorpay Credentials (Live & Test Modes)
# ==========================================
# Live / Test Key ID (Public, safe for frontend bundle)
NEXT_PUBLIC_RAZORPAY_KEY_ID=your_razorpay_key_id_here

# Server-Side Only Credentials (NEVER committed to git or exposed to client)
RAZORPAY_KEY_ID=rzp_live_key
RAZORPAY_KEY_SECRET=razprpay_live_secretkey
RAZORPAY_WEBHOOK_SECRET=your_razorpay_webhook_secret_here

# UPI Configuration
NEXT_PUBLIC_UPI_ID=thanksamitkeshari-2@okaxis

# ==========================================
# Firebase Configuration
# ==========================================
NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyDmtjIDHMicJznt7wdrqKOBDh5Iq4yzgD4"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="aquaarogya.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="aquaarogya"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="aquaarogya.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="366293618867"
NEXT_PUBLIC_FIREBASE_APP_ID="1:366293618867:web:806ec5b0c2af3068fce0c6"
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID="G-FM9XZ1WWE3"
